__pycache__/
*.pyc
*.log
zeek-console.log
conn.log
dns.log
ssl.log
http.log
weird.log
quic.log
reporter.log
dhcp.log
files.log
ssh.log
x509.log
analyzer.log
packet_filter.log
site/wirewatch.py
site/install.sh
